<footer class="animate__animated animate__fadeInUp py-4" style="background-color: #002f6c; color: white;">
  <div class="container">
    <div class="row text-center">
      
      <!-- Columna 1: Información del Club -->
      <div class="col-md-4 mb-3 mb-md-0" style="border-right: 1px solid white;">
        <img src="images/ESCUDO.png" alt="Escudo DIBA FBC" loading="lazy" width="80">
        <h4 class="mt-2">DIBA FBC</h4>
        <p>Barranquilla, Colombia</p>
      </div>

      <!-- Columna 2: Enlaces -->
      <div class="col-md-4 mb-3 mb-md-0" style="border-right: 1px solid white;">
        <h4>Sobre el Club</h4>
        <ul class="list-unstyled">
          <li><a href="Historia.html" style="color: gold;">Historia</a></li>
          <li><a href="contacto.html" style="color: gold;">Atención al Cliente</a></li>
          <li><a href="#" style="color: gold;">Prensa</a></li>
          <li><a href="#" style="color: goldenrod;">Oficinas</a></li>
        </ul>
      </div>

      <!-- Columna 3: Redes Sociales -->
      <div class="col-md-4">
        <h4>Redes Sociales</h4>
        <div class="d-flex justify-content-center">
          <a href="https://www.facebook.com/profile.php?id=100071991100146" target="_blank" class="mx-2" style="color: white; font-size: 24px;">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/diba_fbc_oficial" target="_blank" class="mx-2" style="color: white; font-size: 24px;">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

    </div>

    <!-- Línea divisoria -->
    <hr style="border-top: 1px solid white;">

    <!-- Derechos de autor -->
    <p class="text-center mt-2">&copy; 2025 DIBA FBC. Todos los derechos reservados.</p>
  </div>
</footer>
