<!-- HERO DEPORTIVO -->
<section id="heroCarousel" class="carousel slide carousel-fade hero-deportivo" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active hero-slide" style="background-image: url('https://scontent-bog2-2.xx.fbcdn.net/v/t51.75761-15/479702061_17882375490233469_726221171238551648_n.jpg?stp=dst-jpg_tt6&_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHth3RKt6kkNnJKEii21msIR9Woz1L8VZJH1ajPUvxVknQosdAQ-H56bA5o88FLkK-5v0Pabw6kr45HRppl6MQr&_nc_ohc=xhT_m3hmypQQ7kNvwEnYu1Q&_nc_oc=Adl1w3D0rc5qsQCAJ8ZAhcT1o0o-kLZOvPXVSXDlHZBTLDg9M9ZU6eDd29wi6a3CtEo&_nc_zt=23&_nc_ht=scontent-bog2-2.xx&_nc_gid=ryUdyt39ttXkZtot5QnVeA&oh=00_AfWZqGDRP8TCc6_wTazGfsKaTmx1pgfrcoi0Ihm28ZmCIA&oe=68AA6607');">
      <div class="hero-overlay"></div>
      <div class="container position-relative" style="z-index: 2;">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-8 text-white hero-content">
            <h5 class="subtitle text-uppercase fw-bold">Club de Fútbol Amateur</h5>
            <h1 class="display-3 fw-bolder text-uppercase animate__animated animate__fadeInLeft">DIBA FBC</h1>
            <p class="lead my-4 animate__animated animate__fadeInUp">
              Forjando campeones en Barranquilla. Disciplina, pasión y talento juvenil desde la cancha del barrio hasta la gloria.
            </p>
            <a href="contacto.html"
              class="btn btn-warning btn-lg fw-bold animate__animated animate__pulse animate__infinite">¡Únete al Equipo!
              <i class="fas fa-arrow-right ms-2"></i></a>
          </div>
          <div class="col-lg-6 col-md-4"></div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item hero-slide" style="background-image: url('https://scontent-bog2-2.xx.fbcdn.net/v/t39.30808-6/536139172_24609665371980062_3238011117180638041_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEC-LjIwIW30dMztuK-IowOAew96DASDjkB7D3oMBIOOdUnIkV-dVRYp2UXGtk4z0kGr91KUMQNn0zdqMxVte9S&_nc_ohc=ctn-jTTlMEkQ7kNvwG-ZD1U&_nc_oc=AdkVTLh2Z95gkEGDZ1Dd_SwDfnSdv1QtbY3ehpeSEdliEsJ-2xVgyHgT0-1MQ8L5cNk&_nc_zt=23&_nc_ht=scontent-bog2-2.xx&_nc_gid=K-rxUnuXMKb2wvdoC8yZNQ&oh=00_AfUKcLAD9ar9ParbamK3ZnpvNyXMn3PgV8_wMrw7JGSVCw&oe=68AA769A');">
      <div class="hero-overlay"></div>
      <div class="container position-relative" style="z-index: 2;">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-8 text-white hero-content">
            <h5 class="subtitle text-uppercase fw-bold">Formación Integral</h5>
            <h1 class="display-3 fw-bolder text-uppercase">Disciplina & Pasión</h1>
            <p class="lead my-4">Más que un club, somos una familia donde se forjan valores dentro y fuera de la cancha.</p>
            <a href="contacto.html"
              class="btn btn-warning btn-lg fw-bold animate__animated animate__pulse animate__infinite">¡Únete al Equipo!
              <i class="fas fa-arrow-right ms-2"></i></a>
          </div>
          <div class="col-lg-6 col-md-4"></div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item hero-slide" style="background-image: url('https://scontent-bog2-1.xx.fbcdn.net/v/t51.82787-15/519486195_17900306142233469_6151141392638225686_n.webp?stp=dst-jpg_tt6&_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFkI0G5HnLb-WUSaF42xg9eTZyJON1aanJNnIk43VpqclTCpDZtELsJdIBuHoHTTsi2dH4IqNBiuqQ2nI9LHSey&_nc_ohc=F3yVra4JQ50Q7kNvwFe61p1&_nc_oc=Adk1cazxFo3k2-jwLKeFvnu1WV5qXI5DzI0R0rxLdZrv5cWdVeF-gfV46pkkWrcWINA&_nc_zt=23&_nc_ht=scontent-bog2-1.xx&_nc_gid=zbsczWJl4laqpBleX1r75w&oh=00_AfUwAhz8e56GOMdojanY3qOPhNnLCxF73jowrZAN6pJkow&oe=68AA5D9A');">
      <div class="hero-overlay"></div>
      <div class="container position-relative" style="z-index: 2;">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-8 text-white hero-content">
            <h5 class="subtitle text-uppercase fw-bold">Talento Juvenil</h5>
            <h1 class="display-3 fw-bolder text-uppercase">Futuro Brillante</h1>
            <p class="lead my-4">Impulsamos el desarrollo deportivo con pasión y profesionalismo.</p>
            <a href="contacto.html"
              class="btn btn-warning btn-lg fw-bold animate__animated animate__pulse animate__infinite">¡Únete al Equipo!
              <i class="fas fa-arrow-right ms-2"></i></a>
          </div>
          <div class="col-lg-6 col-md-4"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controles (opcional) -->
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</section>
