<nav class="navbar navbar-expand-lg navbar-dark fixed-top transparent">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="images/ESCUDO.png" alt="Logo DIBA FBC" height="40" />
        DIBA FBC
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
          </svg>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="fas fa-home"></i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Historia.html">
              <i class="fas fa-history"></i> Historia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ficha.html">
              <i class="fas fa-info-circle"></i> Ficha Técnica
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="planilla.html">
              <i class="fas fa-file"></i> Planillas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vision_mision.html">
              <i class="fas fa-file-alt"></i> Desarrollo deportivo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">
              <i class="fas fa-envelope"></i> Contacto
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="partidos.html">
              <i class="fas fa-futbol"></i> Partidos
            </a>
          </li>          
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  