<section class="py-5 bg-light" id="patrocinadores">
  <div class="container text-center">
    <h2 class="fw-bold text-uppercase mb-4">Nuestros Patrocinadores</h2>
    <p class="text-muted mb-5">Agradecemos el valioso apoyo de estas empresas e instituciones:</p>

    <div class="row justify-content-center align-items-center g-4">
      <div class="col-6 col-sm-4 col-md-3">
        <img src="ruta/a/muebles_jk_logo.png" alt="Muebles JK" class="img-fluid grayscale-hover patrocinador-logo">
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <img src="ruta/a/ok_sport_logo.png" alt="OK Sport" class="img-fluid grayscale-hover patrocinador-logo">
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <img src="ruta/a/calzado_orpiz_logo.png" alt="Calzado Orpiz"
          class="img-fluid grayscale-hover patrocinador-logo">
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <img src="ruta/a/ferremateriales_js_logo.png" alt="Ferremateriales J&S"
          class="img-fluid grayscale-hover patrocinador-logo">
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <img src="ruta/a/jj_abogados_logo.png" alt="J&J Abogados" class="img-fluid grayscale-hover patrocinador-logo">
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBgXunsRCvEZzg1E26yG5iBdQ0rnNoNKQUHg&s" alt="Chiro Deportes"
          class="img-fluid grayscale-hover patrocinador-logo">
      </div>
    </div>
  </div>
</section>